@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'avenir';
    src: url('/fonts/Fragmentcore.otf');
}
@font-face {
    font-family: 'rale';
    src: url('/fonts/Raleway-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'play';
    src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
:root{
    --font1: 'avenir';
    --font2: 'Helvetica';
    --font3:'rale' ;
    --font4: 'Lato', sans-serif;
    --font5: 'play';
    --font6:'Poppins', sans-serif;
}